<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <img alt="Silhouette of mountains" src="../../assets/imagen/logo.png" />
    <ion-card-header>
      <ion-card-title>Ingresa</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      
    </ion-card-content>
  </ion-card>

  <div id="container">
    <ion-list>
      <ion-item>
        <ion-textarea label="Usuario" placeholder="Correo o Usuario"></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-input type="password" label="Contraseña" placeholder="Contraseña"></ion-input>
      </ion-item>
      
    </ion-list>
    <ion-button expand="block" id="modal-trigger" [routerLink]="['/usuario', userLoginModal.username]">Inicio</ion-button>
  </div>
</ion-content>
<!---hate me-->