<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <img alt="Silhouette of mountains" src="../../assets/imagen/logo.png" />
    <ion-card-header>
      <ion-card-title>Ingresa</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <div id="container">
        <ion-list>
          <ion-item>
            <ion-input label="Usuario" placeholder="Correo o Usuario" [(ngModel)]="userLoginModal.email"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input type="password" label="Contraseña" placeholder="Contraseña" [(ngModel)]="userLoginModal.password"></ion-input>
          </ion-item>
        </ion-list>
        
        <ion-button expand="block" shape="round" (click)="userLogin(userLoginModal)">Inicio</ion-button>
      </div>
      
      <div class="ion-padding">
        <a [routerLink]="['/contrasena']">¿Olvidaste tu Contraseña?</a>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>

