<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light" class="ion-text-center ion-align-items-center">

  <h1 class="center-content" style="padding-bottom: 50px">Recuperar Contraseña</h1>
  <ion-list [inset]="true">
    <ion-list-header>
      <ion-label>Ingrese su Correo</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-input  placeholder="Ingrese su correo" ></ion-input>
      <ion-input></ion-input>
    </ion-item>
  </ion-list>
  <ion-button shape="round">Recuperar</ion-button>
</ion-content>
