<ion-header [translucent]="true">
  <!-- Encabezado -->
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Buscar Clases por Código de Asignatura</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <!-- Selector de código de asignatura -->
      <ion-item>
        <ion-label>Código de Asignatura:</ion-label>
        <ion-select placeholder="Seleccionar código de asignatura" [(ngModel)]="cod_asignatura">
          <!-- Opciones generadas dinámicamente -->
          <ion-select-option *ngFor="let clase of clases" [value]="clase.cod_asignatura">
            {{ clase.nombre_asignatura }}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <!-- Botón para buscar clases -->
      <ion-button expand="block" shape="round" (click)="buscarClases()">Buscar Clases</ion-button>

      <!-- Resto del contenido... -->
    </ion-card-content>
  </ion-card>
</ion-content>
