<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Buscar Clases por Código de Asignatura</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <!-- Selector de código de asignatura -->
      
      <ion-item>
        <ion-label position="stacked">Código de Asignatura:</ion-label>
        <ion-select [(ngModel)]="cod_clase">
          <ion-select-option *ngFor="let clase of clases" [value]="clase.cod_clase">
            {{ clase.cod_clase }}
          </ion-select-option>
        </ion-select>
      </ion-item>
      

      <!-- Botón para buscar clases -->
      <ion-card-content>
        <ion-button expand="block" shape="round" (click)="generarCodigoQR()">Generar QR</ion-button>
      </ion-card-content>

      <img [src]="qrCodeURL" alt="" title="" *ngIf="qrCodeURL" />
    </ion-card-content>
  </ion-card>
</ion-content>
