<ion-header [translucent]="true">
  <!-- Encabezado -->
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Buscar Clases por Código de Asignatura</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <!-- Selector de código de asignatura -->
      <ion-item>
        <ion-label position="stacked">Código de Asignatura:</ion-label>
        <ion-input placeholder="Ingrese el código de clase" [(ngModel)]="cod_clase"></ion-input>
      </ion-item>

      <!-- Botón para buscar clases -->
      <ion-button expand="block" shape="round" (click)="buscarClases()">Buscar Clases</ion-button>

      <!-- Mostrar los códigos de clase después de obtenerlos -->
      <ion-list *ngIf="clases.length > 0">
        <ion-item *ngFor="let clase of clases">
          {{ clase }}
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
