<!-- Encabezado de la página -->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<!-- Contenido principal -->
<ion-content [fullscreen]="true">
  <!-- Contenedor principal -->
  <div class="container">
    <!-- Tarjeta con contenido -->
    <ion-card #card style="width: 120px; --width: 240px;">
      <ion-card-content>
        <!-- Contenido de la tarjeta -->
        <div #cardText></div>
      </ion-card-content>
    </ion-card>
    
    <!-- Botón para dirigirse a la página de inicio de sesión -->
    <ion-button [routerLink]="['/login']">Login</ion-button>
  </div>
</ion-content>


